<p-contextMenu #cm [model]="menuItems"></p-contextMenu>
<p-table #d [value]="data" [(contextMenuSelection)]="selectedItem" [contextMenu]="cm"
         styleClass="p-datatable-sm" autoLayout="autoLayout" stateStorage="session" stateKey="user-list-session">
    <ng-template pTemplate="caption">
    <div class="p-d-flex">
        <button pButton pRipple type="button" label="Add" class="p-button-raised p-button-text p-button-plain"
                icon="pi pi-plus" routerLink="/user/edit"></button>
        <button pButton pRipple type="button" label="Refresh" class="p-button-raised p-button-text p-button-plain"
                icon="pi pi-refresh" (click)="refresh()"></button>
        <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="d.filter($event.target.value, 'name', 'contains')"
               placeholder="Search by name" />
        </span>
    </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                <div class="p-d-flex p-jc-between p-ai-center">
                    ID
                    <p-sortIcon field="id"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Name
                    <p-sortIcon field="name"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="about">
                <div class="p-d-flex p-jc-between p-ai-center">
                    About
                    <p-sortIcon field="about"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="title">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Title
                    <p-sortIcon field="title"></p-sortIcon>
                    <p-columnFilter field="title" matchMode="equals" display="menu" [showMatchModes]="false"
                                    [showOperator]="false" [showAddButton]="false" class="p-ml-auto">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="titles" [scrollHeight]="'300px'"
                                        placeholder="All" (onChange)="filter($event.value)"
                                        optionLabel="name" optionValue="value">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.name}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="gender">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Gender
                    <p-sortIcon field="gender"></p-sortIcon>
                    <p-columnFilter field="gender" matchMode="equals" display="menu" [showMatchModes]="false"
                                    [showOperator]="false" [showAddButton]="false" class="p-ml-auto">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="genders" [scrollHeight]="'300px'"
                                        placeholder="All" (onChange)="filter($event.value)"
                                        optionLabel="name" optionValue="value">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.name}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="location">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Location
                    <p-sortIcon field="location"></p-sortIcon>
                    <p-columnFilter field="location" matchMode="equals" display="menu" [showMatchModes]="false"
                                    [showOperator]="false" [showAddButton]="false" class="p-ml-auto">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="locations" [scrollHeight]="'300px'"
                                        placeholder="All" (onChange)="filter($event.value)"
                                        optionLabel="name" optionValue="value">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.name}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="energy">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Energy
                    <p-sortIcon field="energy"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="createdAt">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Created At
                    <p-sortIcon field="createdAt"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="updatedAt">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Updated At
                    <p-sortIcon field="updatedAt"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-d>
        <tr [pContextMenuRow]="d">
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.about ? d.about.substring(0, 30) + '...' : ''}}</td>
            <td>{{d.title | enumToString:title}}</td>
            <td>{{d.gender | enumToString:gender}}</td>
            <td>{{d.location | enumToString:location}}</td>
            <td>{{d.energy}}</td>
            <td>{{d.createdAt | date:"dd/MM/yy HH:mm"}}</td>
            <td>{{d.updatedAt | date:"dd/MM/yy HH:mm"}}</td>
        </tr>
    </ng-template>
</p-table>
