<div class="p-fluid p-grid" [formGroup]="form" (ngSubmit)="save()">
    <div class="p-col-6 p-md-4">
        <p-fieldset legend="1. Название блюда">
            <input type="text" pInputText placeholder="Введите название" formControlName="name">
        </p-fieldset>
        <p-fieldset legend="2. Требуемое мастерство">
            <input type="text" pInputText placeholder="Введите мастерство" formControlName="mastery">
        </p-fieldset>
        <p-fieldset legend="3. Длительность приготовления">
            <div class="p-inputgroup">
                <input type="text" pInputText placeholder="Введите длительность" formControlName="time">
                <span class="p-inputgroup-addon">секунд</span>
            </div>
        </p-fieldset>
    </div>
    <div class="p-col-6 p-md-4">
        <p-fieldset legend="5. Рецепт продается в магазине?">
            <p-toggleButton formControlName="recipeSellable" onIcon="pi pi-check" offIcon="pi pi-times"
                            onLabel="Да" offLabel="Нет"></p-toggleButton>
        </p-fieldset>
        <p-fieldset legend="6. Блюдо события?">
            <p-toggleButton formControlName="event" onIcon="pi pi-check" offIcon="pi pi-times"
                            onLabel="Да" offLabel="Нет"></p-toggleButton>
        </p-fieldset>
        <p-fieldset legend="4. Подтерждение">
          <span class="p-buttonset">
            <button pButton pRipple type="button" label="Save" class="p-button-raised p-button-text p-button-success"
                    icon="pi pi-check" [disabled]="isSaving || form.invalid" (click)="save()"></button>
            <button pButton pRipple type="button" label="Back" class="p-button-raised p-button-text p-button-danger"
                    icon="pi pi-undo" routerLink="/food/list"></button>
          </span>
        </p-fieldset>
    </div>
    <div class="p-col-6 p-md-6">
        <p-fieldset legend="Ингредиенты">
            <p-contextMenu #cm [model]="menuItems"></p-contextMenu>
            <p-table #d [value]="ingredients" [(contextMenuSelection)]="selectedItem" [contextMenu]="cm"
                     styleClass="p-datatable-sm" autoLayout="autoLayout" stateStorage="session" stateKey="food-edit-ingredients-session">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Category</th>
                        <th>Ingredient</th>
                        <th>Amount</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d>
                    <tr [pContextMenuRow]="d">
                        <td>{{d.category | enumToString:ingredientCategory}}</td>
                        <td>{{d.ingredientName}}</td>
                        <td>{{d.amount}}</td>
                        <td>{{d.createdAt | date:"dd/MM/yy HH:mm"}}</td>
                        <td>{{d.updatedAt | date:"dd/MM/yy HH:mm"}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </div>
    <div class="p-col-4 p-md-3">
        <p-fieldset legend="Информация о блюде">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Себестоимость</span>
                <input type="number" pInputText placeholder="Себестоимость" formControlName="costPrice"
                       disabled="disabled">
                <span class="p-inputgroup-addon">иен</span>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Стоимость приготовления</span>
                <input type="number" pInputText placeholder="Себестоимость" formControlName="cookingPrice"
                       disabled="disabled">
                <span class="p-inputgroup-addon">иен</span>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Цена НПС</span>
                <input type="number" pInputText placeholder="Себестоимость" formControlName="npcPrice"
                       disabled="disabled">
                <span class="p-inputgroup-addon">иен</span>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Чистая прибыль</span>
                <input type="number" pInputText placeholder="Себестоимость" formControlName="profit"
                       disabled="disabled">
                <span class="p-inputgroup-addon">иен</span>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Цена рецепта</span>
                <input type="number" pInputText placeholder="Себестоимость" formControlName="recipePrice"
                       disabled="disabled">
                <span class="p-inputgroup-addon">иен</span>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Восстановление энергии</span>
                <input type="number" pInputText placeholder="Себестоимость" formControlName="energy"
                       disabled="disabled">
                <span class="p-inputgroup-addon">энергии</span>
            </div>
        </p-fieldset>
    </div>
</div>
